body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-color: #9BC4CB;
}

.centered-container {
    text-align: center; 
}

.centered-gif {
    display: block; 
    margin: 0 auto;
    max-width: 100%; 
}
